{% load crispy_forms_tags %}
{% load static %}
{% comment %} <form method="POST">
    {% csrf_token %}

    {{form|crispy}}
    <input type="submit" value="Submit">

</form> {% endcomment %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/user/login.css' %}">
    <title>Login</title>
</head>

<body>
    <div class="container">
        <div class="card">
            <h2>Login Form</h2>
            <form method="POST">
                {% csrf_token %}
                {% comment %} <label for="username">Username</label>
                <input type="text" id="username" placeholder="Enter your username"> {% endcomment %}
                {{form.username|as_crispy_field}}

                {% comment %} <label for="password">Password</label>
                <input type="password" id="password" placeholder="Enter your password"> {% endcomment %}
                {{form.password|as_crispy_field}}

                <input type="submit" value="Login" id="btn">
                <a href="{% url 'user_register' %}" >Register for new user</a>
                {% comment %} <button type="submit">Login</button> {% endcomment %}
            </form>
        </div>
    </div>
</body>

</html>